.docker/caddy/Caddyfile
.docs
.env
.env.*
.git
.github
.idea
.phpunit.result.cache
.vscode
Dockerfile.dev
PROJECT_AUDIT_*.md
docker-compose.yml
node_modules
storage/api-docs
storage/debugbar
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/phpstan
tests
vendor
